<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>NatureLap</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
	<style type="text/css">
		.thumbnail img{
		  width: 100%;
		}
		.thumbnail{
		  padding:0;
		}
		.thubnail .caption-full{
		  padding:9px;
		}
		#delete-form{
		  display: inline;
		}
    .zoom {
      transition: transform 0.8s;
    }

    .zoom:hover {
      transform: scale(1.07); 
    }
    body{
      background: #2BC0E4; 
      background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);  
      background: linear-gradient(to right, #EAECC6, #2BC0E4); 
      font-family: Roboto;
    }
	</style>
</head>
<body>

	<nav class="navbar navbar-default">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <a class="navbar-brand" href="/">NatureLap</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="<%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>"><a href="/campgrounds">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if(!curr){ %>
                    <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a href="/login">Login</a></li>
                    <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a href="/register">Sign Up</a></li>
                <% } else { %>
                    <li><a href="/users/<%=curr.id%>">Hello <%= curr.username %></a></li>
                    <li><a href="/logout">Logout</a></li>
                <% } %>
            </ul>
          </div>
      </div>
  </nav>
<div class="container">
	<% if(error && error.length>0){%>
		<div class="alert alert-danger" role="alert"><%=error%></div>
	<% }%>
	<% if(success && success.length>0){%>
	<div class="alert alert-success" role="alert"><%=success%></div>
	<%}%>
</div>
<div class="container">



