<%- include('./partials/header'); -%>
<div class="row">
    <h1 style="text-align: center">Sign Up</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/register" method="post">
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="username" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="firstName" placeholder="First Name" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="lastName" placeholder="Last Name" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="email" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="avatar" placeholder="Avatar Image Url" >
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="password"minlength="5" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="adminCode" placeholder="Code" >
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
            </div>

        </form>
        <a href="/campgrounds">Go Back</a>
    </div>
</div>
<%- include('./partials/footer'); -%>