<%- include('../partials/header'); -%>
<div class="container">
	<div class="row">
	<h1 style="text-align: center;">Edit 
		<%=campground.name%> </h1>
	<div style="width: 30%;margin:30px auto;">
	<form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST">
		<div class="form-group">
			<input class="form-control" type="text" value="<%=campground.name%>" name="campground[name]" >
		</div>
		<div class="form-group">
			<input class="form-control" type="text" value="<%=campground.img%>" name="campground[img]">
		</div>
		<div class="form-group">
		  <input class="form-control" type="number" name="campground[cost]" value="<%= campground.cost %>" step="0.01" min="0" required>
		</div>
		<div class="form-group">
			<input class="form-control" type="text" value="<%=campground.desc%>" name="campground[desc]">
		</div>
		<div class="form-group">
			<button class="btn btn-lg btn-default btn-block btn-primary">Submit</button>
		</div>

	</form>
		<a href="/campgrounds">Go Back</a>
	</div>

</div>
</div>
<%- include('../partials/footer'); -%>