<%- include('../partials/header'); -%>

<div class="container">
<header class="jumbotron">
	<div class="container">
	 <h1><span class="glyphicon glyphicon-tent">NatureLap</h1>
	 <p>Camping Is The Best Way To Find Yourself</p>
	 <p>
	 <a class="btn btn-primary btn-large" href="/campgrounds/new">Add New Campgrounds</a></p>
	 	<%if(noMatch===null){%>
	 <p>
	 	<form action="/campgrounds" method="GET" class="form-inline">
	 		<div class="form-group">
	 		<input type="text" name="search" placeholder="Search..." class="form-control">
	 		<input type="submit" value="Search" class="btn btn-default">
	 		</div>
	 	</form>
	 </p>
	 <%}%>
	</div>
</header>



<div class="row text-center" style="display: flex; flex-wrap: wrap;">
	<%if(noMatch!==null){%>
<div class="col-md-6">
	
	<h1 style="text-align: center;">No Matching Campground Found</h1>
	<p>
	 	<form action="/campgrounds" method="GET" class="form-inline">
	 		<div class="form-group">
	 		<input type="text" name="search" placeholder="Search..." class="form-control">
	 		<input type="submit" value="Search" class="btn btn-default">
	 		</div>
	 	</form>
	 	</div>
	<%}%>

<%campgrounds.forEach(function(campgrounds){%>
<div class="col-md-3 col-sm-6">
	<div class="thumbnail  zoom">
		<img  src="<%=campgrounds.img%>" class="img-fluid " alt=" image" >
		 <div class="mask flex-center">
        
	<p>
		<p class="white-text"><%=campgrounds.name%></p>
    	</div>
		<a style="text-align: center;" href="/campgrounds/<%=campgrounds._id%>" class="btn btn-primary">More Info</a>
	</p>
	</div>
	
</div>
<%});%>
</div>
                               
</div>
<%- include('../partials/footer'); -%>