<%- include('../partials/header'); -%>
<div class="container">
	<div class="row">
	<h1 style="text-align: center;">Create A New Campgrounds</h1>
	<div style="width: 30%;margin:30px auto;">
	<form action="/campgrounds" method="POST">
		<div class="form-group">
			<input class="form-control" type="text" placeholder="name" name="name">
		</div>
		<div class="form-group">
			<input class="form-control" type="text" placeholder="image" name="img">
		</div>
		<div class="form-group">
		  <input class="form-control" type="number" name="cost" placeholder="cost" step="0.01" min="0" required>
		</div>
		<div class="form-group">
			<input class="form-control" type="text" placeholder="Discription" name="desc">
		</div>
		<div class="form-group">
			<button class="btn btn-lg btn-default btn-block btn-primary">Submit</button>
		</div>

	</form>
		<a href="/campgrounds">Go Back</a>
	</div>

</div>
</div>
<%- include('../partials/footer'); -%>