<%- include('../partials/header'); -%>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="lead">NatureLap</p>
			<div class="list-group">
				<li class="list-group-item active">Info 1</li>
				<li class="list-group-item">Info 2</li>
				<li class="list-group-item">Info 3</li>
			</div>
		</div>
		<div class="col-md-9">
			<div class="thumbnail">
				<img class="img-responsive" src="<%=campground.img%>">
				<div class="caption-full">
					<h4 class="pull-right">Rs <%=campground.cost%>/night</h4>
					<h4><a><%=campground.name%></a></h4>
					<p><%=campground.desc%></p>
					<p>
					  <em>Submitted by: <a href="/users/<%=campground.author.id%>"><%= campground.author.username %></a>, <%= moment(campground.createdat).fromNow() %></em>
					</p>
					 <% if((curr && campground.author.id.equals(curr._id))||(curr&&curr.isAdmin)){%>
						<a class="btn btn-warning" href="/campgrounds/<%=campground._id%>/edit">Edit</a>
					 <form id="delete-form" method="POST" action="/campgrounds/<%=campground._id%>?_method=DELETE">
					 	<button class="btn btn-danger">Delete</button>
					 </form>
					<%}%>
				</div>
			</div>
			<div class="well">
				<div class="text-right">
					<a class="btn btn-success" href="/campgrounds/<%=campground._id%>/comments/new">Add a new comment</a>

					</div>
					<hr>
					<% campground.comments.forEach(function(comment){%>
					<div class="row">
						<div class="col-md-12">
								<strong><%=comment.author.username%></strong>
								<span class="pull-right"><%= moment(comment.createdat).fromNow() %></span></span>
								<p>
									<%=comment.text%>
								</p>
								<% if(curr && comment.author.id.equals(curr._id)||(curr&&curr.isAdmin)){%>
								<a class="btn btn-xs btn-warning" href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit">Edit</a>
								<form id="delete-form" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
									<button class="btn btn-xs btn-danger ">Delete</button>
								</form>
								<%}%>
						</div>
					</div>
					<%})%>
			</div>
		</div>
	</div>
</div>



<%- include('../partials/footer'); -%>