<%- include('../partials/header'); -%>
<div id="mine">
		<div class="container">
		<h1><img style="width:50px;height:50px;border-radius:10px;" src="<%=user.avatar%>"> Hello <%=user.firstName%> </h1>
		<div class="caption-full"><a href="<%=user.email%>">Email</a>
		</div>
		</div>
	<br>
	<br>
<%campgrounds.forEach(function(campgrounds){%>
<div class="col-md-3 col-sm-6">
	<div class="thumbnail">
		<a href="/campgrounds/<%=campgrounds.id%>"><img src="<%=campgrounds.img%>"></a>
			<div class="caption">
			<h4 style="text-align:center;" ><%=campgrounds.name %></h4>
		</div>
		
	</div>
</div>
<%});%>

</div>
<%- include('../partials/footer'); -%>